<!-- images.html -->
<div class="gallery" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
    {% for image in images %}
        <div class="image-container" style="flex: 0 1 150px;">
            <!-- Pass the event object to the openModal function -->
            <a href="javascript:void(0);" onclick="openModal('{{ image.url }}', event)">
                <img src="{{ image.url }}" alt="{{ image.description }}" style="max-width: 100%; height: auto;">
            </a>
            <!-- Optional: Add a caption or description for each image -->
        </div>
    {% endfor %}
</div>
