{% extends "base.html" %}

{% block title %}Elvir's Projects{% endblock %}

{% block additional_css %}
<style>
  body {
    background-color: #2C3531;
    color: #ffffff;
  }
  
  .text-stroke {
    color: #9EFF7A; /* Replace #yourTextColor with the actual color of your text */
    text-shadow:
      -1px -1px 0 #000000,
       1px -1px 0 #000000,
      -1px  1px 0 #000000,
       1px  1px 0 #000000;
  }


  .jumbotron {
    background-color: #ffffff00;
    color: #9EFF7A;
    margin-bottom: 1px; /* Reduce the bottom margin */
    margin-top: 1px; /* Adjust the top margin if needed */
    padding: 2.5rem 1.25rem; /* Smaller padding */
  }

  .card {
    background-color: #ffffff00;
    border-color: #4dfdf3;
  }

  .card-header {
    background-color: #116466;
    color: #D9B08C;
    text-align: center;
    padding: 0.5rem 1.25rem; /* Smaller padding */
  }

  .btn-link {
    color: #4dfdf3;
    text-decoration: none;
  }

  .btn-link:hover {
    color: #FFFF86;
  }

  .card-body {
      text-align: center; /* Center align text inside the card body */
      display: flex; /* Use Flexbox */
      flex-direction: column; /* Stack items vertically */
      justify-content: center; /* Center items vertically */
      align-items: center; /* Center items horizontally */
      padding: 0.5rem 1rem; /* Smaller padding */
    }

    .card-body ul {
      list-style-type: none; /* Remove default list styling */
      padding: 0; /* Remove default padding */
    }

  .card-body li {
      margin-bottom: 10px;
      line-height: 1.5;
      font-size: 14px;
  }
    
    .card-body ul li {
      display: inline-block; /* Display list items inline */
      margin: 0 10px; /* Add some horizontal spacing */
    }

    .card-body ul li i {
      color: #2C3531; /* Icons inside the card body */
      margin-right: 5px; /* Add some space between icon and text */
    }

  .container.custom-margin-top {
    margin-top: 0px; /* Adjust this value as needed */
  }

  .card-body li strong {
      font-weight: 600;
  }
</style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4 text-stroke">Elvir's Projects</h1>
        </div>
    
        <div class="container custom-margin-top">
            <div id="accordion" class="text-stroke">
                <!-- First Card: CNC-Project -->
                <div class="card">
                    <div class="card-project-name" style="text-align: center; color: #D9B08C; padding: 0.5rem 1.25rem;">
                        CNC-Project
                    </div>
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">Short Review</button>
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo">Project Pictures</button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Content for Short Review
                        </div>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Videos
                        </div>
                    </div>
                    <!-- Collapsible content for CNC-Project -->
                </div>

                <!-- Second Card: Battery Knowhow -->
                <div class="card">
                    <div class="card-project-name" style="text-align: center; color: #D9B08C; padding: 0.5rem 1.25rem;">
                        Battery Knowhow
                    </div>
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree">Overview</button>
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour">Photo Gallery</button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <ul style="list-style-type: none; padding: 0;">
                                <li>Safe Handling Procedures.</li>
                                <li>Precision Measurement Techniques</li>
                                <li>Assembly of Battery Packs</li>
                                <li>Load and Capacity Testing</li>
                                <li>Battery Management Systems (BMS)</li>
                                <li>Techniques for Active and Passive Balancing</li>
                                <li>Lithium-ion and Lithium Iron Phosphate (LiFePO4) Technologies</li>
                            </ul>
                        </div>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            {% include "images.html" with images=battery_images %}
                        </div>
                    </div>
                    <!-- Collapsible content for Battery Knowhow -->
                </div>

                <!-- Third Card: Test -->
                <div class="card">
                    <div class="card-project-name" style="text-align: center; color: #D9B08C; padding: 0.5rem 1.25rem;">
                        Test
                    </div>
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive">Experiment</button>
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix">Results</button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            Content for Experiment
                        </div>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            Content for Results
                        </div>
                    </div>
                    <!-- Collapsible content for Test -->
                </div>
    
                <!-- Additional cards can be added here following the same structure -->
    
            </div>
        </div>
    </div>
    <script>
        function openModal(imageUrl) {
            document.getElementById('modalImage').src = imageUrl; // Set the source of the modal image to the clicked image
            document.getElementById('imageModal').style.display = 'flex'; // Display the modal
        }

        function closeModal() {
            document.getElementById('imageModal').style.display = 'none'; // Hide the modal
        }
    </script>
{% endblock %}
